$color-primary:      #1a73e8;
$color-accent:       #d93025;
$color-text:         #202124;
$color-bg-light:     #bfdbff;

$font-base: 'Roboto', sans-serif;
$font-heading: 'Rubik', sans-serif;

$space-xxs: 0.25rem;
$space-xs:  0.5rem;
$space-sm:  1rem;   
$space-md:  1.5rem; 
$space-lg:  2rem;   
$space-xl:  3rem;   
$space-xxl: 5rem;   
$space-xxxl: 8rem;  

$bp-sm:  31.25rem;  
$bp-md:  56.25rem;  
$bp-lg:  64rem;
$bp-xl:  75rem;
