@import "../../styles/abstracts/variables";
@import "../../styles/abstracts/mixins";

.team {
  font-family: $font-heading;
  text-align: center;
  margin-top: $space-xl;
  align-items: center;

  &__heading {
    margin-bottom: $space-lg;
  }

  &__title {
    font-size: 2rem;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: $space-xs;

    @include respond-to(md) {
      font-size: 3rem;
    }
  }

  &__bar {
    max-width: 80%;
    margin: 0 auto $space-lg;
  }

  &__grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: $space-lg;

    @include respond-to(md) {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}
