@import "../../styles/abstracts/variables";
@import "../../styles/abstracts/mixins";

.front {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: $space-sm;
  overflow: hidden;

  @include respond-to(sm) {
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 10rem;
      height: 24rem;
      background: url("/design3.svg") no-repeat center/contain;
      opacity: 0.8;
      z-index: 0;
    }
  }

  @include respond-to(md) {
    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      right: 0;
      width: 7rem;
      height: 10rem;
      background: url("/design5.svg") no-repeat center/contain;
    }

    &__bg {
      content: "";
      position: absolute;
      bottom: 0;
      left: 30rem;
      transform: translateX(-50%);
      width: 60rem;
      height: 35rem;
      background: url("/design4.svg") no-repeat center top;
      background-size: cover;
      z-index: -1;
    }

    flex-direction: row;
    justify-content: space-between;
    padding: $space-sm $space-lg;
    text-align: left;
  }

  @include respond-to(lg) {
    padding: $space-sm $space-xxxl;
  }

  &__media {
    img {
      width: 16rem;
      margin-bottom: $space-md;
      z-index: 2;

      @include respond-to(sm) {
        width: 30rem;
      }
      @include respond-to(md) {
        margin-bottom: 0;
        padding-top: $space-xl;
        margin-top: 10rem;
      }
    }
  }

  &__content {
    max-width: 34rem;
    margin-top: $space-xs;

    @include respond-to(md) {
      margin-top: -10rem;
    }
  }

  &__title {
    font-family: $font-heading;
    font-weight: 500;
    font-size: 2.375rem;
    margin-bottom: $space-sm;

    @include respond-to(sm) {
      font-size: 3.5rem;
    }

    @include respond-to(lg) {
      max-width: 28.688rem;
    }
  }

  &__text {
    font-family: $font-heading;
    font-size: 1.125rem;
    line-height: 1.6;
  }
}
